<a href="https://colab.research.google.com/github/18K41A0254/assignment-2/blob/master/assignment%3D2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Given the lengths of three sides of a triangle, calculate the area of the triangle.

In [ ]:
s1=int(input("enter length of first side"))
s2=int(input("enter length of second side"))
s3=int(input("enter length of third side"))
p=(s1+s2+s3)/2
area=((p*(p-s1)(p-s2)(p-s3))**(1/2))
print("area of triangle=",area)

In [ ]:
2.	Take a string from end user and check if the value is palindrome or not

In [ ]:
n=str(input("enter a string"))
m="".join(reversed(n))
if n==m:
  print("It is a palindrome")
else:
  print("It is not a palindrome")

In [ ]:
3.	Write a program that reads a year from the user and displays a message 
Indicating whether or not it is a leap year.

In [ ]:
year=int(input("enter a year"))
if year%4==0:
  print("It is a leap year")
else:
  print("It is not a leap year")

In [ ]:
4.	 Space To Hyphen problem 
Take a string as input, and replaces spaces “ “  with hyphens “-”, and returns a string.
Input: “ This program converts spaces into hyphen”
      Output:     “ This-program-converts-spaces-into-hyphen”

In [ ]:
n=str(input("enter a string"))
m=n.replace(" ","-")
print("string after replacing space with hyphen",m)

In [ ]:
5.	Unique Sort problem 
Take a string as input that accepts a comma separated sequence of words as input and prints the unique words in sorted form (alphanumerically).
*Input*: orange, white, red, cyan, green, magenta, cyan, pink, white
*Output*: cyan, green, magenta, orange, pink, red, white

In [ ]:
n

In [ ]:
item=input("enter the items\n")
item=item.replace(","," ")
word=item.split()
word.sort()
for i in range (len(word)):
  if word[i]==word[i+1]:
    del word[i]
    if i==((len(word))-1):
     break
print(','.join(word))

In [ ]:
6.	Tax Calculator
Ask the user for their monthly salary. Calculate whether they have to pay tax and if so, how much is that amount .Print the result

In [ ]:
s=int(input("enter your salary:"))
t={1:0,2:0.05,3:0.1,4:0.15,5:0.2,6:0.25,7:0.3}
if s<=250000:
  i=1
elif 250001<=s<=500000:
  i=2
elif 500001<=s<=750000:
  i=3
elif 750001<=s<=1000000:
  i=4
elif 1000001<=s<=1250000:
  i=5
elif 1250001<=s<=1500000:
  i=6
elif s>1500000:
  i=7
tax=s*t[i]
print("total tax=",tax)

In [ ]:
7.	Take a list of integers as an argument, and converts it into a single integer (return the integer).
*Input*: [11, 33, 50]
*Output*: 113350

In [ ]:
n=int(input("enter the length of list"))
l=[]
for i in range(n):
 x=int(input())
 l.append(x)
 l[i]=str(l[i])
print("The list as single element",''.join(l))

In [ ]:
8.	Units of Time
Create a program that reads duration from the user as a number of days, hours, minutes, and seconds. Compute and display the total number of seconds represented by this duration.

In [ ]:
day=int(input("enter number of days:"))
hr=int(input("enter number of hours:"))
min=int(input("enter number of minutes:"))
sec=int(input("enter number of seconds:"))
time=(day*60*60*24)+(hr*60*60)+(min*60)+sec
print("Total duration in seconds:",time)

In [ ]:
9.	Sort 3 Integers
Given three integers (given through user input), sort the numbers using |min| and  |max| functions.

In [ ]:
a=int(input("enter first number:"))
b=int(input("enter second number:"))
c=int(input("enter third number:"))
min=min(a,b,c)
max=max(a,b,c)
n=a+b+c-(min+max)
print("The sorted numbers are:",min,n,max)

In [ ]:
10.	Write a program that reads a date from the user and computes its immediate successor. The date is the format YYYY-MM-DD. So, 2020-04-15 will have the successor 2020-04-16.

In [ ]:
y=int(input("enter year:"))
m=int(input("enter month:"))
d=int(input("enter day:"))
if m in (1,3,5,7,8,10,12):
 ld=31
elif m==2:
  if y%4==0:
    ld=29
  else :
    ld=28
else :
   ld=30
if d<ld:
   d+=1
else :
   d=1
if m==31:
   m=1
   y+=1
else :
   m+=1
print("The next day date is:",y,'-',m,'-',d)

In [ ]:
11.	Compute product of a list of numbers [45 ,3,2,89,72,1,10,7]
Output: 121111200

In [ ]:
l=[45,3,2,89,72,1,10,7]
p=1
for i in l:
  p*=i
print("Product of the numbers in list is ",p)

In [ ]:
12.	Compute given Num_list =  [5, 6,8 ,34,89,1] to get desired output
Output: Out_list=[11,14,42,123,90]

In [ ]:
il=[5,6,8,34,89,1]
ol=[]
for i in range(1,len(il)):
 s=il[i]+il[i-1]
 ol.append(s)    
print("The output list is ",ol)

In [ ]:
13.Compute given Num_tuple =  (5, 6,8 ,3,9,1) to get desired output
Output: Out_list = [5, 30, 240, 720, 6480, 6480]

In [ ]:
t=(5,6,8,3,9,1)
l=[]
n=1
for i in t:
  n*=i
  l.append(n)
print("The output list is ",l)

In [ ]:
14.	 Write a Python code that takes a number and returns a list of its digits. So for 586392 it should return [5,8,6,3,9,2]

In [ ]:
n=int(input("enter a number"))
l=[]
for i in str(n):
 l.append(int(i))
print("The output list is ",l)

In [ ]:
15.	Write a program that finds the longest palindromic substring of a given string

In [ ]:
class Solution(object):
   def longestPalindrome(self, s):
      dp = [[False for i in range(len(s))] for i in range(len(s))]
      for i in range(len(s)):
         dp[i][i] = True
      max_length = 1
      start = 0
      for l in range(2,len(s)+1):
         for i in range(len(s)-l+1):
            end = i+l
            if l==2:
               if s[i] == s[end-1]:
                  dp[i][end-1]=True
                  max_length = l
                  start = i
            else:
               if s[i] == s[end-1] and dp[i+1][end-2]:
                  dp[i][end-1]=True
                  max_length = l
                  start = i
      return s[start:start+max_length]
s=input("enter a string:")
ob1 = Solution()
print(ob1.longestPalindrome(s))

In [ ]:
16.	 Substring Check (Bug Funny)
Given two binary strings, A (of length 10) and B (of length 5), output 1 if B is a substring of A and 0 otherwise.
First two lines of input:

1010110010          10110
1110111011           10011
First two lines of output:
1
0

In [ ]:
s=input("enter a binary string:")
ss=input("enter a binary substring:")
if ss in s:
 print("1")
else:
 print("0")

In [ ]:
17.	  POUR1 - Pouring water
Given two vessels, one of which can accommodate a litres of water and the other - b litres of water, determine the number of steps required to obtain exactly c litres of water in one of the vessels.
At the beginning both vessels are empty. The following operations are counted as 'steps':
•	emptying a vessel,
•	filling a vessel,
•	pouring water from one vessel to the other, without spilling, until one of the vessels is either full or empty.
Input
An integer t, 1<=t<=100, denoting the number of testcases , followed by t sets of input data, each consisting of three positive integers a, b, c, not larger than 40000, given in separate lines.
Output
For each set of input data, output the minimum number of steps required to obtain c litres, or -1 if this is impossible.

Example
Sample input:
2
5
2
3
2
3
4
 
Sample output:
2
-1

In [ ]:
def gcd(a,b):
    if b==0: 
        return a 
    return gcd(b,a%b) 
def countsteps(a,b,c): 
    v1=b
    v2=0
    count=1
    while ((v1 is not c) and (v2 is not c)): 
        temp=min(v1,a-v2) 
        v2=v2+temp 
        v1=v1-temp 
        count=count+1
        if ((v2==c)or(v1==c)): 
            break
        if v1==0: 
            v1=b 
            count=count+1
        if v2==a: 
            v2=0
            count=count+1
    return count 
def ispossible(a,b,c): 
    if a>b: 
        temp=a 
        a=b 
        b=temp 
    if c>b: 
        return -1
    if (c%(gcd(b,a)) is not 0): 
        return -1
    return(min(countsteps(b,a,c),countsteps(a,b,c)))
t=int(input("Enter no of testcases : "))
for i in range(t):
  a=int(input("Enter capacity of vessel a : "))
  b=int(input("Enter capacity of vessel b : "))
  c=int(input("Enter capacity to be obtained :"))
  print("Minimum number of steps required is : ",ispossible(a,b,c))